---
import Navbar from "../v2/Navbar.astro";
---

<div id="musa" class="relative overflow-hidden bg-white sm:max-w-full">
    <Navbar />
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10">
        <div class="max-w-2xl text-center mx-auto sm:text-left">
            <div class="sm:text-center">
                <div class="flex justify-center">
                    <img
                        class="h-48 hidden md:block"
                        src="/musa-lp/images/logo.png"
                        alt="logo"
                    />
                </div>
                <h1
                    class="block text-8xl font-bold text-musa-green-600 lg:leading-tight"
                >
                    MUSA
                </h1>
                <h2
                    class="block text-2xl font-bold text-musa-blue-600 sm:text-4xl lg:leading-tight"
                >
                    Centro Quiropráctico
                </h2>
                <p class="text-gray-500 italic sm:text-lg">
                    Yo cuido mi salud, ajusto mi columna.
                </p>
                <p class="mt-3 text-gray-500 italic sm:sm:text-lg">
                    Nuestra misión es ajustar familias, y comunicar la
                    efectividad e importncia del <b class="text-musa-green-600"
                        >Ajuste Quiropráctico</b
                    >. Así como contribuir a logar una mejor calidad de vida de
                    manera natural, para así desarrollar el máximo potencial y
                    disminuir interferencias en el sistema nervioso.
                </p>
            </div>

            <div
                class="mt-7 grid gap-3 w-full sm:inline-flex sm:justify-center sm:mx-auto"
            >
                <a
                    class="py-6 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border
                    border-transparent bg-musa-blue-600 text-white hover:bg-musa-blue-700 disabled:opacity-50 disabled:pointer-events-none
                    sm:text-lg"
                    href="https://api.whatsapp.com/send?phone=7228648426"
                    target="_blank"
                >
                    Agenda tu cita
                </a>
            </div>
        </div>
    </div>
</div>
