---
import TeamMember from "../v2/TeamMember.astro";
---

<div
    id="especialistas"
    class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto"
>
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
        <h2
            class="block text-2xl font-bold text-sky-600 sm:text-4xl lg:leading-tight"
        >
            Miembros del equipo
        </h2>
        <h2
            class="block text-5xl font-bold text-musa-green-600 sm:text-6xl lg:leading-tight"
        >
            Especialistas
        </h2>
    </div>

    <div class="md:mx-auto md:max-w-4xl">
        <div class="grid grid-cols-2 md:grid-cols-2 gap-8 md:gap-12">
            <TeamMember
                img="/musa-lp/images/team/pamela.jpg"
                name="Pamela Samano"
                position="Fundadora / Quiropractica"
            />

            <TeamMember
                img="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=900&h=900&q=80"
                name="Adriana"
                position="Quiropractica"
            />
        </div>
    </div>
</div>
