<div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-12 bg-white">
    <h2 class="block text-2xl font-bold text-sky-600 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white">
        Concepto
    </h2>
    <h2 class="block text-5xl font-bold text-emerald-500 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white">
        Descripción
    </h2>
    <p class="my-3 text-gray-600 dark:text-gray-400">
        We provide you with a test account that can be set up in seconds. Our main focus is getting responses to you as
        soon as we can.
    </p>

    <img class="w-full rounded-md"
         src="../../public/images/hero.jpg"
         alt="Image Description">
</div>