<div id="contactanos" class="bg-sky-50">
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <div class="max-w-xl mx-auto">
            <div class="text-center">
                <h1 class="block text-8xl font-bold text-lime-600 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white">
                    Contactanos
                </h1>
                <h2 class="block text-2xl font-bold text-sky-600 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white">
                    Agenda una cita
                </h2>
            </div>
        </div>

        <div class="mt-12 grid sm:grid-cols-2 lg:grid-cols-4 items-center gap-4 lg:gap-8">
            <a class="group flex flex-col h-full text-center rounded-lg p-4 sm:p-6" target="_blank"
               href="tel:7228648426">
                <span class="text-4xl text-lime-600 material-symbols-outlined hover:text-sky-600">call</span>
                <div class="mt-5">
                    <h3 class="text-lg font-semibold text-gray-800 hover:text-sky-600" hover:text-sky-600>Llamanos al: </h3>
                    <p class="mt-1 text-gray-500 hover:text-sky-600">7228648426</p>
                </div>
            </a>
            <a class="group flex flex-col h-full text-center rounded-lg p-4 sm:p-6" target="_blank"
               href="https://api.whatsapp.com/send?phone=7228648426">
                <span class="text-4xl text-lime-600 material-symbols-outlined hover:text-sky-600">chat</span>
                <div class="mt-5">
                    <h3 class="text-lg font-semibold text-gray-800 hover:text-sky-600">Envianos un WhatsApp al:</h3>
                    <p class="mt-1 text-gray-500 hover:text-sky-600">7228648426</p>
                </div>
            </a>
            <a class="group flex flex-col h-full text-center rounded-lg p-4 sm:p-6" target="_blank"
               href="https://www.facebook.com/MUSACentroQuiropractico/">
                <span class="text-4xl text-lime-600 material-symbols-outlined hover:text-sky-600">thumb_up</span>
                <div class="mt-5">
                    <h3 class="text-lg font-semibold text-gray-800 hover:text-sky-600">Siguenos en Facebook</h3>
                    <p class="mt-1 text-gray-500 hover:text-sky-600">MUSACentroQuiropractico</p>
                </div>
            </a>
            <a class="group flex flex-col h-full text-center rounded-lg p-4 sm:p-6" target="_blank"
               href="https://maps.app.goo.gl/pXqiN2f5GamGmUSEA">
                <span class="text-4xl text-lime-600 material-symbols-outlined hover:text-sky-600">pin_drop</span>
                <div class="mt-5">
                    <h3 class="text-lg font-semibold text-gray-800 hover:text-sky-600">Visitanos</h3>
                    <p class="mt-1 text-gray-500 hover:text-sky-600">C. Benito Juárez 10-Norte, Villa Cuauhtemoc, 52080 Villa Cuauhtémoc, Méx.</p>
                </div>
            </a>
        </div>
    </div>
</div>
