<div
    id="contactanos"
    class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto"
>
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
        <h2
            class="block text-2xl font-bold text-sky-600 sm:text-4xl lg:leading-tight"
        >
            Agenda cita
        </h2>
        <h2
            class="block text-5xl font-bold text-musa-green-600 sm:text-4xl lg:text-6xl lg:leading-tight"
        >
            Contactanos
        </h2>
    </div>

    <div
        class="mt-12 grid sm:grid-cols-2 lg:grid-cols-4 items-center gap-4 lg:gap-8"
        data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
        data-astro-source-loc="14:91"
    >
        <a
            class="group flex flex-col h-full text-center rounded-lg p-4 sm:p-6"
            target="_blank"
            href="tel:7228648426"
            data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
            data-astro-source-loc="16:38"
        >
            <span
                class="text-4xl text-lime-600 material-symbols-outlined hover:text-sky-600"
                data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
                data-astro-source-loc="17:99">call</span
            >
            <div
                class="mt-5"
                data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
                data-astro-source-loc="18:35"
            >
                <h3
                    class="text-lg font-semibold text-gray-800 hover:text-sky-600"
                    hover:text-sky-600=""
                    data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
                    data-astro-source-loc="19:107"
                >
                    Llamanos al:
                </h3>
                <p
                    class="mt-1 text-gray-500 hover:text-sky-600"
                    data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
                    data-astro-source-loc="20:70"
                >
                    7228648426
                </p>
            </div>
        </a>
        <a
            class="group flex flex-col h-full text-center rounded-lg p-4 sm:p-6"
            target="_blank"
            href="https://api.whatsapp.com/send?phone=7228648426"
            data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
            data-astro-source-loc="24:70"
        >
            <span
                class="text-4xl text-lime-600 material-symbols-outlined hover:text-sky-600"
                data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
                data-astro-source-loc="25:99">chat</span
            >
            <div
                class="mt-5"
                data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
                data-astro-source-loc="26:35"
            >
                <h3
                    class="text-lg font-semibold text-gray-800 hover:text-sky-600"
                    data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
                    data-astro-source-loc="27:88"
                >
                    Envianos un WhatsApp al:
                </h3>
                <p
                    class="mt-1 text-gray-500 hover:text-sky-600"
                    data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
                    data-astro-source-loc="28:70"
                >
                    7228648426
                </p>
            </div>
        </a>
        <a
            class="group flex flex-col h-full text-center rounded-lg p-4 sm:p-6"
            target="_blank"
            href="https://www.facebook.com/MUSACentroQuiropractico/"
            data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
            data-astro-source-loc="32:73"
        >
            <span
                class="text-4xl text-lime-600 material-symbols-outlined hover:text-sky-600"
                data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
                data-astro-source-loc="33:99">thumb_up</span
            >
            <div
                class="mt-5"
                data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
                data-astro-source-loc="34:35"
            >
                <h3
                    class="text-lg font-semibold text-gray-800 hover:text-sky-600"
                    data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
                    data-astro-source-loc="35:88"
                >
                    Siguenos en Facebook
                </h3>
                <p
                    class="mt-1 text-gray-500 hover:text-sky-600"
                    data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
                    data-astro-source-loc="36:70"
                >
                    MUSACentroQuiropractico
                </p>
            </div>
        </a>
        <a
            class="group flex flex-col h-full text-center rounded-lg p-4 sm:p-6"
            target="_blank"
            href="https://maps.app.goo.gl/pXqiN2f5GamGmUSEA"
            data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
            data-astro-source-loc="40:65"
        >
            <span
                class="text-4xl text-lime-600 material-symbols-outlined hover:text-sky-600"
                data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
                data-astro-source-loc="41:99">pin_drop</span
            >
            <div
                class="mt-5"
                data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
                data-astro-source-loc="42:35"
            >
                <h3
                    class="text-lg font-semibold text-gray-800 hover:text-sky-600"
                    data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
                    data-astro-source-loc="43:88"
                >
                    Visitanos
                </h3>
                <p
                    class="mt-1 text-gray-500 hover:text-sky-600"
                    data-astro-source-file="E:/Proyectos personales/musalp/src/components/Contact.astro"
                    data-astro-source-loc="44:70"
                >
                    C. Benito Juárez 10-Norte, Villa Cuauhtemoc, 52080 Villa
                    Cuauhtémoc, Méx.
                </p>
            </div>
        </a>
    </div>
</div>
