<div class="bg-white">
    <footer class="w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto">
        <div class="text-center">
            <div>
                <span
                    class="block text-5xl font-bold text-musa-green-600 sm:text-6xl lg:leading-tight"
                >
                    MUSA
                </span>
                <span
                    class="block text-2xl font-bold text-sky-600 sm:text-4xl lg:leading-tight"
                >
                    Centro Quiropráctico
                </span>
            </div>

            <div class="mt-3">
                <p class="text-gray-500 italic">
                    Yo cuido mi salud, ajusto mi columna.
                </p>
                <p class="text-gray-500">2024, MUSA Centro Quiropráctico.</p>
            </div>
        </div>
    </footer>
</div>
