<div class="bg-sky-50">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-12">
        <!-- Grid -->
        <div class="flex flex-col md:flex-row gap-4 md:gap-8 xl:gap-20 md:items-center">
            <div class="order-2 md:order-1 text-center">
                <h1 class="block text-8xl font-bold text-emerald-500 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white">
                    MUSA
                </h1>
                <h2 class="block text-2xl font-bold text-sky-600 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white">
                    Centro Quiropráctico
                </h2>
                <p class="text-gray-500 italic">
                    Yo cuido mi salud, ajusto mi columna.
                </p>
                <p class="mt-3 text-lg text-gray-800 dark:text-gray-400">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolor enim et in iste minima numquam reprehenderit sequi. Accusantium alias debitis dolore excepturi, sed totam.
                </p>

                <!-- Buttons -->
                <div class="mt-7 grid gap-3 w-full sm:inline-flex">
                    <a class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-sky-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                       href="#">
                        Contactanos
                    </a>
                    <a class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                       href="#">
                        Acerca de la quiropráctica
                    </a>
                </div>
                <!-- End Buttons -->
            </div>
            <!-- End Col -->

            <div class="order-1 md:order-2 relative">
                <img class="w-full rounded-md"
                     src="../../public/images/hero.jpg"
                     alt="Image Description">
            </div>
            <!-- End Col -->
        </div>
        <!-- End Grid -->
    </div>
</div>
