<div id="team" class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
        <h2 class="block text-5xl font-bold text-emerald-500 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white">
            Equipo
        </h2>
    </div>
    <!-- End Title -->

    <!-- Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-slate-900 dark:border-gray-700">
            <div class="flex items-center gap-x-4">
                <img class="rounded-full w-20 h-20" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=900&h=900&q=80" alt="Image Description">
                <div class="grow">
                    <h3 class="font-medium text-gray-800 dark:text-gray-200">
                        Amil Evara
                    </h3>
                    <p class="text-xs uppercase text-gray-500">
                        UI/UX Designer
                    </p>
                </div>
            </div>

            <p class="mt-3 text-gray-500">
                I am an ambitious workaholic, but apart from that, pretty simple person.
            </p>
        </div>
        <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-slate-900 dark:border-gray-700">
            <div class="flex items-center gap-x-4">
                <img class="rounded-full w-20 h-20" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=900&h=900&q=80" alt="Image Description">
                <div class="grow">
                    <h3 class="font-medium text-gray-800 dark:text-gray-200">
                        David Forren
                    </h3>
                    <p class="text-xs uppercase text-gray-500">
                        Founder / CEO
                    </p>
                </div>
            </div>

            <p class="mt-3 text-gray-500">
                I am an ambitious workaholic, but apart from that, pretty simple person.
            </p>
        </div>
    </div>
    <!-- End Grid -->
</div>
