---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Somos un Centro Quiropráctico enfocado en el cuidado de la columna vertebral y el sistema nervioso mediante ajustes quiroprácticos especificos para mejorar la calidad de vida de nustros pacientes y sus familias. Basandonos en la certeza, responsabilidad y transprencia con nuesros pacientes. Actualizandonos constantemente para brindar atencion prfecional y especializada."
        />
        <title>{title}</title>
        <link rel="icon" type="image/ico" href="../images/logo.png" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
        />
    </head>
    <body>
        <slot />
    </body>
</html>

<script is:inline src="../js/preline.js"></script>
